<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>dstat WebApp</title>
</head>
<body>
    <div class="container">
        <h1>dstat Log Detection</h1>
        <input type="text" id="ip_address" placeholder="Enter IP Address">
        <button id="submit">Submit</button>
        <canvas id="dstatChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
